# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: pcrbot
subtitle: 公主连接机器人
description: 为公主连接设计的开源聊天应答服务
keywords: 公主连接,公主连结,机器人,pcrbot
author: pcrbot
language: zh-cn
timezone: Asia/Shanghai

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://www.pcrbot.com
root: /
permalink: :title/
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ""
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ""
  wrap: true
  hljs: false

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ""
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## Use post's date for updated date unless set in front-matter
use_date_for_updated: false

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: flex-block
theme_config:
  # Header
  menu:
    HOME: /
    GitHub: https://github.com/pcrbot
    投稿: https://github.com/pcrbot/www.pcrbot.com/new/master/source/_posts?filename=new_post_name.md&value=---%0Atitle%3A+%E6%97%A0%E6%A0%87%E9%A2%98%0Aauthor%3A+%E6%9C%AA%E7%9F%A5%E4%BD%9C%E8%80%85%0A---%0A%0A%E5%9C%A8%E6%AD%A4%E4%BD%BF%E7%94%A8+markdown+%E7%BC%96%E5%86%99%E5%86%85%E5%AE%B9
  banner: https://img.yobot.win/pcrbot/banner-maho.jpg
  large_legnth:
    long: 20
    short: 5
  hitokoto:
    enable: false
  valine:
    enable: false
  disqus:
    enable: false
  dplayer:
    enable: false
  aplayer:
    enable: false
  waterfall:
    enable: true
  zoom:
    enable: true
  archive_type: "monthly"
  show_count: false
  social_icon:
    header_enable: false
    footer_enable: false

deploy:
  type: git
  repo: git@github.com:pcrbot/www.pcrbot.com.git
  branch: gh-pages
  message: "auto deploy {{ now('YYYY-MM-DD HH:mm:ss') }}"
